# Basics Of Pythonâœ…âœ…âœ…

#Data Types in Python:

  1) Integer
  2) String
  3) Float
  4) Boolean

In [1]:
# Declaration Data Type:

#1-String

Name = "Jarvis"

In [2]:
type(Name)

str

In [3]:
#2-Integer

No_of_Student = 7

In [4]:
type(No_of_Student)

int

In [7]:
#3-FLoat

In [6]:
Height_Student = 5.7

In [8]:
type(Height_Student)

float

In [12]:
#Boolean


is_ht = Height_Student <7

In [14]:
is_ht

True

In [15]:
type(is_ht)

bool

# Python is the Collection of the following Data Type:
   
    1)Lists
    2)Tuples
    3)Dictionary
    4)Sets

ðŸ”½#Lists

In [26]:
# Declaration 

roll_no_student = [101,102,103,104,105,106,107]

In [27]:
roll_no_student

[101, 102, 103, 104, 105, 106, 107]

In [28]:
type(roll_no_student)

list

In [29]:
# Acessing OF LISTS value by using the index number start from the 0 to 1is as follows :

roll_no_student[0]

101

In [30]:
roll_no_student[4]

105

In [ ]:
# The indexation From

Left to Right -----> O,1,2,3......
 
Right to Left------>-1,-2,-3,-4.......

In [31]:
roll_no_student[-1]

107

In [32]:
roll_no_student[-7]

101

In [ ]:
# Acessing the values in the lists according to the indextaion number(By giving thr range of index number) given as belows:

In [33]:
# Declaring the lists

name_student = ["IronMan","CaptainAmerica","Thor","CptMarvel","BlackPanther","AntMan","DrStrange"]

In [34]:
name_student

['IronMan',
 'CaptainAmerica',
 'Thor',
 'CptMarvel',
 'BlackPanther',
 'AntMan',
 'DrStrange']

In [35]:
type(name_student)

list

In [38]:
Doctor = name_student[6]

In [39]:
Doctor

'DrStrange'

In [41]:
# Slicing Of Lists: During slicing the fo acessing last value in the takes one +1 index number 

name_student[2:7]

['Thor', 'CptMarvel', 'BlackPanther', 'AntMan', 'DrStrange']

In [44]:
name_student[-7:-1]

['IronMan', 'CaptainAmerica', 'Thor', 'CptMarvel', 'BlackPanther', 'AntMan']

In [45]:
name_student[-1:-7]

[]

In [ ]:
# Always remind the range index follows path from left to right only

In [58]:
name_student

['IronMan',
 'CaptainAmerica',
 'Thor',
 'CptMarvel',
 'BlackPanther',
 'AntMan',
 'DrStrange']

In [57]:
name_student[1:7]

['CaptainAmerica', 'Thor', 'CptMarvel', 'BlackPanther', 'AntMan', 'DrStrange']

In [48]:
name_student[1:7:1]

['CaptainAmerica', 'Thor', 'CptMarvel', 'BlackPanther', 'AntMan', 'DrStrange']

In [49]:
name_student[1:7:2]

['CaptainAmerica', 'CptMarvel', 'AntMan']

In [50]:
name_student[1:7:3]

['CaptainAmerica', 'BlackPanther']

In [51]:
name_student[1:7:4]

['CaptainAmerica', 'AntMan']

In [52]:
name_student[1:7:5]

['CaptainAmerica', 'DrStrange']

In [53]:
name_student[1:7:6]

['CaptainAmerica']

In [54]:
name_student[1:7:7]

['CaptainAmerica']

In [55]:
name_student[1:7:8]

['CaptainAmerica']

In [ ]:
# Indexation 


#name_student = [start_index : End_index : Jumping Index Value]

In [62]:
# Blank represents up to end index number

name_student[1:]

['CaptainAmerica', 'Thor', 'CptMarvel', 'BlackPanther', 'AntMan', 'DrStrange']

In [63]:
# prints start to end Values 
# start index to end index number

name_student[:]

['IronMan',
 'CaptainAmerica',
 'Thor',
 'CptMarvel',
 'BlackPanther',
 'AntMan',
 'DrStrange']

In [64]:
# starts from index o to 5

name_student[:5]

['IronMan', 'CaptainAmerica', 'Thor', 'CptMarvel', 'BlackPanther']

In [65]:
name_student[::7]

['IronMan']

In [59]:
name_student[1::7]

['CaptainAmerica']

In [60]:
name_student[1:7:6]

['CaptainAmerica']

# Lists Funcationâœ¨

In [69]:
# Creating Lists


list1 = [11,12,13,14,15,16,17,18]

In [70]:
list1

[11, 12, 13, 14, 15, 16, 17, 18]

ðŸ”´# Append() :

In [72]:
# Append : it add the value at the end list and takes only one argument

list1.append(777)

In [73]:
list1

[11, 12, 13, 14, 15, 16, 17, 18, 777]

In [82]:
list1(77,777,7777)

TypeError: 'list' object is not callable

In [75]:
#Appending Lists of Lists

list1.append([77,777,7777])

In [76]:
list1

[11, 12, 13, 14, 15, 16, 17, 18, 777, [77, 777, 7777]]

In [81]:
# Acessing the Lists of the Lists

list1[9][1]

777

ðŸŸ  # Clear() : it clears all the values in the lists

In [83]:
list1.clear()

In [84]:
list1

[]

ðŸŸ¡# Copy() : MAke Exactly Duplicates Of given lists and do take any argument

In [96]:
list2 = [101,"Jarvis",70.5,True]

In [97]:
list2

[101, 'Jarvis', 70.5, True]

In [98]:
list2.copy()

[101, 'Jarvis', 70.5, True]

ðŸŸ¢ #Count()  count the repetating values in the lists and takes argument

In [103]:
list3=[22,23,34,22,12,22,34,23,23,27,323,23,23,]

In [104]:
list3

[22, 23, 34, 22, 12, 22, 34, 23, 23, 27, 323, 23, 23]

In [105]:
list3.count(22)

3

In [106]:
list3.count(34)

2

In [107]:
list3.count(23)

5

ðŸ”µ # Extend()  :

In [108]:
list4=[22,33,44,55,66,77,88,99]

In [109]:
list4

[22, 33, 44, 55, 66, 77, 88, 99]

In [114]:
list4.extend([100])

In [115]:
list4

[22, 33, 44, 55, 66, 77, 88, 99, 100]

In [117]:
list4.extend([111,222,333,444,555])

In [118]:
list4

[22, 33, 44, 55, 66, 77, 88, 99, 100, 111, 222, 333, 444, 555]

In [120]:
list4.extend(777777)

TypeError: 'int' object is not iterable

In [121]:
list4.extend([77777])

In [129]:
list4

[22, 33, 55, 66, 77, 88, 99, 100, 111, 222, 333, 444, 555]

ðŸ’Ž # Append() funcation takes direct value (ex. list.append(77)) and takes single value only.


ðŸ’Ž # Extend() funcation takes values in the lists form(Ex. list.extend([77])) and takes multiple values by using the lists.

ðŸŸ¤ # pop() : it delete the last value in the list and if it takes argument as index number delete the value of that index number.

In [128]:
list4

[22, 33, 55, 66, 77, 88, 99, 100, 111, 222, 333, 444, 555]

In [124]:
list4.pop()

77777

In [126]:
list4

[22, 33, 55, 66, 77, 88, 99, 100, 111, 222, 333, 444, 555]

In [131]:
#  

list4.pop(2)

55

In [130]:
list4

[22, 33, 55, 66, 77, 88, 99, 100, 111, 222, 333, 444, 555]

In [139]:
list4.pop(2)

77

In [ ]:
âš« # remove()  it takes values as argument in the funacation and it deletes the valuesfrom the lists

In [132]:
list4

[22, 33, 66, 77, 88, 99, 100, 111, 222, 333, 444, 555]

In [135]:
list4.remove(22)

In [136]:
list4

[33, 66, 77, 88, 99, 100, 111, 222, 333, 444, 555]

In [137]:
list4.remove(111,222)

TypeError: remove() takes exactly one argument (2 given)

ðŸ’Žpop() : funcation takes argument as the index number and delete the value of that index number and takes single argument.


ðŸ’Žremove() : funcation takes argument as lists value and delete it and takes single argument.

âšª # Sort () it sorts the lists according to the ascending order

In [140]:
list5 = [99,34,114,575,12,6,864,70,77777]

In [141]:
list5

[99, 34, 114, 575, 12, 6, 864, 70, 77777]

In [142]:
list5.sort()

In [143]:
list5

[6, 12, 34, 70, 99, 114, 575, 864, 77777]

ðŸ”˜ # reverse() : it gets reversing of the lists

In [145]:
list6 = [1,"JARVIS",0.56,True]

In [146]:
list6

[1, 'JARVIS', 0.56, True]

In [147]:
list6.reverse()

In [148]:
list6

[True, 0.56, 'JARVIS', 1]

In [149]:
list6.reverse(1)

TypeError: reverse() takes no arguments (1 given)

In [ ]:
ðŸŸ  # index() . this funcation tkaes the lists value and shows the index number values

In [157]:
list7 = [100,"Ram",7.7,True]

In [158]:
list7.index(7.7)

2

In [161]:
list7.index("Ram")

1

In [162]:
list7.index(True)

3