# Tuples : Immutable

In [1]:
# Dclration Of The Tuples

id_student = (101,102,103,104,105,106,107)

In [2]:
type(id_student)

tuple

# Tuples Funcation :

🔴# Count() : it counts the total number elements in tuple

In [4]:
tuple1 = (701,702,702,325,956,702,986,325,956)

In [5]:
tuple1.count(701)

1

In [7]:
tuple1.count(702)

3

In [9]:
tuple1.count(325)

2

In [13]:
tuple1.count(986)

1

In [ ]:
🟠 # index()  : it display index number of the tuple value. it takes tuple as an argument

In [14]:
tuple1

(701, 702, 702, 325, 956, 702, 986, 325, 956)

In [16]:
tuple1.index(325)

3

In [17]:
tuple1.index(956)

4

In [18]:
tuple1.index(702)

1

In [23]:
tuple1.index(702)

1

In [25]:
# Addition of all th values in the tuples

sum(tuple1)

6355

In [27]:
# Calculatinf the length of the tuple
len(tuple1)

9

# Dictionary : it consist of Keys:Values

In [ ]:
# Creating The Dictionary

In [29]:
student_info ={"roll_no":[101,102,103,104,105],
               "name":["jhon","karl","vin","rock","Jerry"],
               "region":["N","S","E","W","E"]}

In [30]:
student_info

{'roll_no': [101, 102, 103, 104, 105],
 'name': ['jhon', 'karl', 'vin', 'rock', 'Jerry'],
 'region': ['N', 'S', 'E', 'W', 'E']}

# Acessing the dictionary values

In [31]:
student_info["name"]

['jhon', 'karl', 'vin', 'rock', 'Jerry']

In [33]:
student_info["name"][4]

'Jerry'

In [34]:
student_info["region"][4]

'E'

In [35]:
student_info["roll_no"][3]

104

# Updating the Values of Dictionary

In [36]:
student_info

{'roll_no': [101, 102, 103, 104, 105],
 'name': ['jhon', 'karl', 'vin', 'rock', 'Jerry'],
 'region': ['N', 'S', 'E', 'W', 'E']}

In [37]:
# Updating the name "jhon" to "Tom"

student_info["name"][0] = 'Tom'

In [38]:
student_info

{'roll_no': [101, 102, 103, 104, 105],
 'name': ['Tom', 'karl', 'vin', 'rock', 'Jerry'],
 'region': ['N', 'S', 'E', 'W', 'E']}

In [39]:
# Updating the Tom region N to s

student_info['region'][0] = "S"

In [40]:
student_info

{'roll_no': [101, 102, 103, 104, 105],
 'name': ['Tom', 'karl', 'vin', 'rock', 'Jerry'],
 'region': ['S', 'S', 'E', 'W', 'E']}

# Converting DIctionry into Dataframe

In [41]:
import pandas as pd

In [42]:
df = pd.DataFrame(student_info)

In [43]:
df

   roll_no   name region
0      101    Tom      S
1      102   karl      S
2      103    vin      E
3      104   rock      W
4      105  Jerry      E

In [44]:
type(df)

pandas.core.frame.DataFrame

In [46]:
student_info

{'roll_no': [101, 102, 103, 104, 105],
 'name': ['Tom', 'karl', 'vin', 'rock', 'Jerry'],
 'region': ['S', 'S', 'E', 'W', 'E']}

🟠 Copy(): it makes exactly duplicate copy of the dictionay

In [48]:
dict1 = student_info.copy()

In [49]:
dict1

{'roll_no': [101, 102, 103, 104, 105],
 'name': ['Tom', 'karl', 'vin', 'rock', 'Jerry'],
 'region': ['S', 'S', 'E', 'W', 'E']}

In [51]:
dict1.get("name")

['Tom', 'karl', 'vin', 'rock', 'Jerry']

In [52]:
dict1.keys()

dict_keys(['roll_no', 'name', 'region'])

In [53]:
dict1.keys("name")

TypeError: keys() takes no arguments (1 given)

In [55]:
dict1.pop("name")

['Tom', 'karl', 'vin', 'rock', 'Jerry']

In [56]:
dict1

{'roll_no': [101, 102, 103, 104, 105], 'region': ['S', 'S', 'E', 'W', 'E']}

In [59]:
# POpITEM(): delete the last element ikn the dictionary along with the  keys and value

dict1.popitem()

('roll_no', [101, 102, 103, 104, 105])

In [60]:
dict1.values()

dict_values([])

In [61]:
dict1

{}

In [64]:
dict2 = {"name":["Tom","Karl","jerry","rock","Vin"],
      "course":["C","c++","Java","R","Python"],
      "id":[100,200,400,500],
      "price":[2000,3000,4000,5000,7000]    
}

In [65]:
dict2

{'name': ['Tom', 'Karl', 'jerry', 'rock', 'Vin'],
 'course': ['C', 'c++', 'Java', 'R', 'Python'],
 'id': [100, 200, 400, 500],
 'price': [2000, 3000, 4000, 5000, 7000]}

In [66]:
list(dict2)

['name', 'course', 'id', 'price']

# Sets

In [ ]:
# Creating the sets

In [67]:
set1 = {101,102,103,104,105,106}

In [68]:
set1

{101, 102, 103, 104, 105, 106}

In [69]:
set2 = {"shubham","vaibhav","akshay","gorkh"}

In [70]:
set2

{'akshay', 'gorkh', 'shubham', 'vaibhav'}

In [73]:


set3 = {1,1,2,3,6,45,2,3,6,}

In [75]:
#sets doen not contain reted values so sets contain unique number of values

set3.

{1, 2, 3, 6, 45}

# Sets Funcations :



A) Add()
B) Copy
c) Differnce()
D) Differnce_update()
E) discard()
F) intersection()
G) intersecaton_update()
H) pop()
I) remove()
J) update()
K) Union()
L) symmetric_difference()
M) symmetric_Difference_update()
N) is_subset()
O) is_superset()
P) is_disjoint()

🧡#ADD()

In [77]:
set1.add(22)

In [78]:
set1

{22, 101, 102, 103, 104, 105, 106}

In [82]:

set1.add((77,777,7777))

In [83]:
# In sets tuples ae added but lists are not added
set1

{(77, 777, 7777), 101, 102, 103, 104, 105, 106, 22}

In [84]:
set1.add([343,454,565])

TypeError: unhashable type: 'list'

In [86]:
set1.add({1:2})

TypeError: unhashable type: 'set'

❤#Copy()

In [87]:
set2.copy()

{'akshay', 'gorkh', 'shubham', 'vaibhav'}

In [ ]:
💛# Differnce()

In [88]:
set3 = {10,20,30,40,50}

In [89]:
set3

{10, 20, 30, 40, 50}

In [91]:
set4={1,2,3,4,5}

In [92]:
set4

{1, 2, 3, 4, 5}

In [96]:
set4.difference(set3)

{1, 2, 3, 4, 5}

In [ ]:
💚#discard(): it discard elements present in the set

In [98]:
set3

{10, 20, 30, 40, 50}

In [99]:
set3.discard(20)

In [100]:
set3

{10, 30, 40, 50}

In [101]:
set3.discard(50)

In [102]:
set3

{10, 30, 40}

💙#pop()   :

In [116]:
set5={101,102,103,105,106,109,107}

In [117]:
set5

{101, 102, 103, 105, 106, 107, 109}

In [118]:
set5.pop()

101

In [119]:
set5

{102, 103, 105, 106, 107, 109}

In [120]:
set5.pop()

102

In [121]:
set5

{103, 105, 106, 107, 109}

In [122]:
set5.pop(107)

TypeError: pop() takes no arguments (1 given)

In [123]:
set5.pop(1)

TypeError: pop() takes no arguments (1 given)

In [124]:
set5.discard()

TypeError: discard() takes exactly one argument (0 given)

In [ ]:
💜#remove()  :

In [125]:
set6={320,230,560,896,450}

In [126]:
set6

{230, 320, 450, 560, 896}

In [127]:
set6.remove()

TypeError: remove() takes exactly one argument (0 given)

In [128]:
set6.remove(0)

KeyError: 0

In [129]:
set6.remove(230)

In [130]:
set6

{320, 450, 560, 896}

🤎#update()  :

In [131]:
set6

{320, 450, 560, 896}

In [132]:
set6.update(100)

TypeError: 'int' object is not iterable

In [133]:
set6.update([100])

In [134]:
set6

{100, 320, 450, 560, 896}

In [135]:
set6.update((101))

TypeError: 'int' object is not iterable

In [136]:
set6.update([102,103,104])

In [137]:
set6

{100, 102, 103, 104, 320, 450, 560, 896}

💖#intersecton() :adisplays the common elements from two set

In [ ]:
# Let's Creating the two sets

In [138]:
set_A = {10,20,30,40,50,60,70}

In [139]:
set_A

{10, 20, 30, 40, 50, 60, 70}

In [140]:
set_B = {60,70,80,90,100,110,120,130}

In [141]:
set_B

{60, 70, 80, 90, 100, 110, 120, 130}

In [143]:
set_A.intersection(set_B)

{60, 70}

In [144]:
set_A.intersection_update

In [145]:
set_A

{10, 20, 30, 40, 50, 60, 70}

In [148]:
set_C = {140,150,160,170,180,190}

In [149]:
set_C

{140, 150, 160, 170, 180, 190}

In [153]:
set_C.intersection_update(set_A)

In [154]:
set_C

set()

In [ ]:
🖤# Union()

In [155]:
set_A

{10, 20, 30, 40, 50, 60, 70}

In [156]:
set_B

{60, 70, 80, 90, 100, 110, 120, 130}

In [159]:
set_C = {140,150,160,170,180,190}

In [160]:
set_C

{140, 150, 160, 170, 180, 190}

In [166]:
 set_D = set_A.union(set_B)

In [167]:
set_D

{10, 20, 30, 40, 50, 60, 70, 80, 90, 100, 110, 120, 130}

In [170]:
set_E=set_D.union(set_C)

In [171]:
set_E

{10,
 20,
 30,
 40,
 50,
 60,
 70,
 80,
 90,
 100,
 110,
 120,
 130,
 140,
 150,
 160,
 170,
 180,
 190}

In [ ]:
💚# issubset() :

In [173]:
set_A.issubset(set_B)

False

In [ ]:
💙# isdisjointset() :

In [174]:
set_B.isdisjoint(set_C)

True

In [ ]:
🤎# issuperset() :

In [175]:
set_A.issuperset(set_B)

False

In [177]:
set_A.symmetric_difference(set_C)

{10, 20, 30, 40, 50, 60, 70, 140, 150, 160, 170, 180, 190}

In [178]:
set_A

{10, 20, 30, 40, 50, 60, 70}

In [179]:
set_B

{60, 70, 80, 90, 100, 110, 120, 130}

In [180]:
set_C

{140, 150, 160, 170, 180, 190}